body {
    background-color: #F3F3F9;
}

.number {
    font-size: 2em;
    color: #A05EB5;
}

.indicator {
    width: 35px;
    height: 35px;
    margin-top: -20px;
}

a {
    cursor: pointer;
    color: #A05EB5;
}

#table-filters {
    cursor: pointer;
}

.table tbody tr td.milestone span.completed {
    float: right;
}

.table tbody tr td.milestone span {
    display: block;
    font-size: .8462rem;
    color: #999;
    margin-bottom: 6px;
}

.questions {
    float: right;
    width: 20%;
    margin: 10px;
}

.table_container {
    background-color: white;
    padding: 20px;
    border: 1px;
    border-color: #a9aeb1;
    margin: 40px;
    border-style: solid;
}

.logo {
    float: left;
}


/* ~~ Top Navigation Bar ~~ */

#navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
}

.navigation-bar {
    background-color: #025172;
    color: #fff;
    height: 70px;
    width: 100%;
    text-align: center;
}

.navigation-bar img {
    float: left;
}

.navigation-bar ul {
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
    border-bottom: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.navigation-bar li {
    list-style-type: none;
    padding: 0px;
    display: inline;
}

.navigation-bar li a {
    color: black;
    font-size: 23px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 90px;
    padding: 8px 15px;
    opacity: 0.7;
}

#menu {
    float: right;
}

.btn {
    background-color: #025172;
}